# LUCEN FRONTEND

# Logs
/lucen-frontend/logs
/lucen-frontend/*.log
/lucen-frontend/npm-debug.log*
/lucen-frontend/yarn-debug.log*
/lucen-frontend/yarn-error.log*
/lucen-frontend/pnpm-debug.log*
/lucen-frontend/lerna-debug.log*

/lucen-frontend/node_modules
/lucen-frontend/dist
/lucen-frontend/dist-ssr
/lucen-frontend/*.local

# Editor directories and files
/lucen-frontend/.vscode/*
/lucen-frontend/!.vscode/extensions.json
/lucen-frontend/.idea
/lucen-frontend/.DS_Store
/lucen-frontend/*.suo
/lucen-frontend/*.ntvs*
/lucen-frontend/*.njsproj
/lucen-frontend/*.sln
/lucen-frontend/*.sw?

/lucen-frontend/.env


# LUCEN BACKEND
/lucen-backend/.env